body{
    background-color: #fff6f9;
}
.btn-primary {
    background-color: #FF70A5 !important;
    border-color:  #FF70A5 !important;
    color: #fff6f9 !important;
}


.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-color: #ff649e !important;
    border-color: #ff649e !important;
    color: #fff6f9 !important;
}

.btn-outline-primary {
    color: #FF70A5 !important;
    background-color: #fff6f9 !important;
    border-color:#ff649e !important;
}
.btn-outline-primary:hover {
    color: #fff6f9 !important;
    background-color: #ff649e !important;
    border-color:#ff649e !important;
}

.grow:hover{
    transform: scale(1.01);
    transition: all 0.2s ease-in-out;
}

